
form ul {
  padding: 0; 
  height: fit-content;
  flex-direction: column;
  
}

form ul li {
  display: flex; /* Affiche les éléments de liste sur la même ligne */
  margin-right: 10px; 
  background-color: rgb(234, 234, 234);
  padding: 5px;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 10px;
  width: 950px;
}

form ul input[type="checkbox"] {
  margin-right: 10px;
}

form p{
  font-weight: bold;
}
