<!DOCTYPE html>
<html dir="ltr" lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Document</title>
      
      <link rel="stylesheet" href="~/css/needs.css" />
      <link rel="stylesheet" href="~/css/Conge.css" />
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
      <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" media="all" href="~/css/daterange/daterangepicker.css" />
      <script src="~/css/daterange/daterangepicker.js"></script>
      <script src="~/css/daterange/moment.min.js"></script>
      <script type="text/javascript" src="~/js/jquery.js"></script>

      <style>
        .label-form{
          margin-bottom: 2px;
          margin-top: 10px;
          font-weight: bold;
          padding: 5px;
          background-color: rgb(167, 167, 167);
          color: white;
          border-radius: 5px;
        }
        .config-date{
          display: none;
        }
        .demo{
          margin:10px 0 ;
        }
        .motif{
          width: 1200px;
        }
        .date-submit{
          background-color: rgb(0, 157, 255);
          color: white;
          border: none;
        }
        .motif-conge{
          border: solid rgb(217, 217, 217) 1px; 
          height: 40px;
          border-radius: 3px;
          margin: 10px 0;
        }
      </style>
   </head>
   <body>
      <form action="formEmbauche" method="post" style="width:70%;margin:0 auto;">
      <p style="font-weight:bold">Embauche</p>
          <p class="label-form">Candidat</p>
          <div class="col-md-12 demo">
              <select name="nameCandidat" class="form-control">
                  @foreach(var candidat in @ViewBag.allCandidat) {
                      <option value="@candidat.ID_Candidat">@candidat.FirstName @candidat.LastName</option>
                  }
              </select>
          </div>
          <p class="label-form">Embauche</p>
          <div class="col-md-12 col-md-offset-2 demo">
              <input type="submit" value="Embauche" class="date-submit">
          </div>
      </form>
   </body>
</html>
